* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Oswald", sans-serif;
}
.section-hero {
  background-image: url("assets/first-background.png");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* <!--  description section --> */
.main-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.logo-img {
  width: 63px;
  height: 63px;
}

.main-content h1 {
  font-size: 48px;
}
.main-header {
  font-weight: 700;
  line-height: 64px;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #ffffff;
  text-align: center;
}

.secondary-header {
  max-width: 450px;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
}

/* <!--  description section --> */
.about-section {
  background-color: #eeeeee;
  display: flex;
  min-height: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.main-headline {
  font-size: 40px;
  line-height: 52px;
  color: #464547;
  font-weight: 700;
}

.short-about-us {
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 450px;
  color: #666666;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

.description-about-us {
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #000000;
  line-height: 22px;
}
.read-more-btn {
  margin-top: 30px;
  background-color: #55c2d8;
  padding: 5px 18px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  line-height: 26px;
  border-radius: 18px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.read-more-btn:hover {
  background-color: #449bad;
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
/*  <!-- section  more about us -->*/

.learn-more-section {
  background-image: linear-gradient(
      rgba(140, 79, 42, 0.3),
      rgba(140, 79, 42, 0.3)
    ),
    url("assets/second-bcakground.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.learn-more-section h2 {
  font-size: 40px;
}

.learn-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #39c2d7;
  border: none;
  cursor: pointer;
  font-size: 55px;
  color: white;
}

.learn-more-btn:hover {
  background-color: #33afc2;
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.learn-more-short-description {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 70px;
  margin-bottom: 20px;
  color: #ffffff;
  max-width: 450px;
  text-align: center;
}

.video_img {
  width: 55px;
  height: 70px;
}
/* -- footer section-- */
.footer {
  padding: 20px 100px 40px;
  background-color: #464547;
  font-family: "Source Sans Pro", sans-serif;
}

.footer-container {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: 0px 50px;
}

.footer-head {
  display: flex;
  margin: 0px 12px 12px;
  font-size: 18px;
  color: #ffffff;
}

.footer-head h4 {
  font-weight: 300;
  letter-spacing: 4px;
  margin: 0px 16px;
}
.footer-information {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  line-height: 20px;
}
address {
  font-style: normal;
}
address a {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}
